h1 {
    color:black;
    font-size: 60px;
    font-family: Helvetica;
}
h2 {
    color: black;
    font-size: 50px;
    font-family: Helvetica;
}
p {
    border-style: inherit;
    font-size: 35px;
}
button {
    border-style: ridge;
    color: black;
    size: 100px;
    background-color: aqua;
}